/*Header styles*/
#main-header {
  background-color: #254515;
  color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.82);
  border-bottom: 4px solid #41631E;
}

header a {
  color: #fff
}

/*Main Body Styles*/
main {
  background-color: #C9DEA9;
  color: #000;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

main a {
  color: #000;
}

/*main section {
  max-width: 95%;
  margin: auto;
}*/

/*Footer styles*/
footer {
  background-color: #254515;
  color: #fff;
  min-height: 5em;
  text-align: center;
  padding-top: 1em;
}

/*Other styles*/
p, h4, li {
  font-family: 'Hind', sans-serif;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

/*Form styles*/
.compare {
  background-color: lightgreen;
  border-width: 1em;
  border-color: green;
  border-style: solid;
  margin: auto;
  max-width: 80%;
  padding: 1em;
  }

.compare h3 {
  font-size:1.25em;
}

.compare fieldset {
  padding: 1em;
  border: none;
}


.compare a {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  padding-bottom: .5em;
}

.compare label {
  font-size: 1.1em;
}

.compare button {
max-width: 30%;
display: block;
margin: auto;
background-color: orange;
border: none;
border-radius: .25em;
padding: 1em;
font-size: 1.25em;
font-weight: bold;
color: white;
}

/*table styles*/

#compare-results {
  min-width: 90%;
  border-style: solid;
  border-color: darkgreen;
  border-width: 3px;
}

#compare-results th {
  padding: 1em;
  font-size: 1.25em;
  background-color: darkgreen;
  color: white;
  text-align: center;
}

#compare-results td {
  padding: 1em;
  border-left: orange;
  text-align: center;
  background-color: lightgreen;

}

#compare-results h3 {
  font-weight: bold;
}

#compare-results h4 {
  font-weight: bold;
}

compare-results
